<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servUsuarios</servlet-name>
        <servlet-class>controlador.servUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador1</servlet-name>
        <servlet-class>controlador.Controlador1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVSolicitudes</servlet-name>
        <servlet-class>controlador.SERVSolicitudes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador2</servlet-name>
        <servlet-class>controlador.Controlador2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVSolicitudes1</servlet-name>
        <servlet-class>controlador.SERVSolicitudes1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVSolicitudes3</servlet-name>
        <servlet-class>controlador.SERVSolicitudes3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador3</servlet-name>
        <servlet-class>controlador.Controlador3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdf</servlet-name>
        <servlet-class>controlador.pdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailServlet</servlet-name>
        <servlet-class>controlador.MailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerPdf</servlet-name>
        <servlet-class>controlador.ControllerPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdf1</servlet-name>
        <servlet-class>controlador.pdf1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVSolicitudes2</servlet-name>
        <servlet-class>controlador.SERVSolicitudes2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servUsuarios</servlet-name>
        <url-pattern>/servUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador1</servlet-name>
        <url-pattern>/Controlador1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVSolicitudes</servlet-name>
        <url-pattern>/SERVSolicitudes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador2</servlet-name>
        <url-pattern>/Controlador2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVSolicitudes1</servlet-name>
        <url-pattern>/SERVSolicitudes1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVSolicitudes3</servlet-name>
        <url-pattern>/SERVSolicitudes3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador3</servlet-name>
        <url-pattern>/Controlador3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdf</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailServlet</servlet-name>
        <url-pattern>/MailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerPdf</servlet-name>
        <url-pattern>/ControllerPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdf1</servlet-name>
        <url-pattern>/pdf1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVSolicitudes2</servlet-name>
        <url-pattern>/SERVSolicitudes2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
